/*------------------------共通スタイル------------------*/
body {
  background-color: #5271ff;
}

nav {
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
nav .nav-item {
  font-family: "Nico Moji";
}

.nav-space-left {
  margin-left: 100px;
}

.nav-space-right {
  margin-left: 380px;
}

.menu-color {
  color: #ffe681;
  font-weight: bold;
  font-size: large;
}
.menu-color:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.btn {
  width: 12%;
  background-color: #f8e693;
  margin-top: 20px;
}

.btn-dreams-width {
  border: solid 3px #f87694;
  background-color: #f8e693;
  border-radius: 5px;
  transition: 0.5s;
}

.btn-dreams-width:hover {
  background-color: #c5f4ff;
  border: solid 3px #f87694;
}

.btn-secrets-width {
  width: auto;
  transition: 0.5s;
  background-color: #c5f4ff;
  border: solid 3px #f87694;
  border-radius: 5px;
}

.btn-secrets-width:hover {
  background-color: #f8e693;
  border: solid 3px #f87694;
}

/*----------------------//共通スタイル----------------------------------*/

/*-----------------------もしも投稿スタイル---------------------------------*/
.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-color {
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
}



.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form-control {
  width: 200px;
  height: 30px;
  margin: 0px 10px;
  text-align: center;
}

.dream-color {
  background-color: #faecb3;
  border: solid 1px #000;
}

.secret-color {
  background-color: #c5f4ff;
  border: solid 1px #000;
}

.form-control-dreams {
  display: inline-block;
  font-family: "Nico Moji";
  width: 50%;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #c5f4ff;
  border-radius: 10px;
  border: solid 5px #ffffff;
}

.form-floating {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------//もしも投稿スタイル-----------------*/
/*---------------------ひみつ道具投稿--------------------------*/
.table {
  text-align: left;
}
.form-control-width {
  width: 580px;
  height: auto;
}

.secrets-color {
  background-color: #f8e493;
  border-radius: 20px;
  border: solid 5px #ffffff;
  width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.img-border {
  border-top: dotted #000000 2px;
  border-bottom: dotted #000000 2px;
}

.form-secrets-width {
  text-align: center;
}

.hr {
  border-top: 3px dotted whitesmoke;
  width: 85%;
}

.text_of_title {
  margin: 0.2em;
  font-size: large;
  width: 580px;
  word-wrap: break-word;
}
/*--------------------//ひみつ道具投稿--------------------------*/

/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38b6ff;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: 0.3s;
}

#page-top a:hover {
  background: #777;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom: 5px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*上に上がる動き*/
#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*下に下がる動き*/
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

/*もしも投稿全体*/
.accordion-area {
  list-style-type: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

.accordion-area li {
  margin: 10px 0;
  background: #c7d0d8;
  border-radius: 10px;
}

.accordion-area section {
  border: 1px solid #ccc;
  border-radius: 10px;
}

/*もしも投稿タイトル*/
.title {
  position: relative;
  /*マーク位置基準とするためのrelative指定*/
  cursor: pointer;
  font-size: large;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.5s ease;
  background-color: #c5f4ff;
  border-radius: 10px;
  border: solid 5px #f8c0cd;
}

/*アイコンの＋と*/
.title::before,
.title::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
}

.title::before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}

.title::after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}

/* closeといううクラスがついたら形状変化*/
.title.close::before {
  transform: rotate(45deg);
}

.title.close::after {
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none; /*はじめは非表示*/
  padding: 1% 3% 1% 3%;
}

/*---------//もしも投稿全体-----*/

/*もしも投稿リプライ全体*/
.accordion-area2 {
  list-style-type: none;
  width: 96%;
  max-width: 900px;
}

.accordion-area2 .replay-color {
  margin: 10px 0;
  background: #fff;
  border-radius: 10px;
}

.accordion-area2 section {
  border: 2px dotted #000;
  border-radius: 10px;
}

/*もしも投稿タイトル*/
.title-2 {
  position: relative;
  /*マーク位置基準とするためのrelative指定*/
  cursor: pointer;
  font-size: large;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.5s ease;
  background-color: #c5f4ff;
  border-radius: 10px;
  border: solid 5px #ffffff;
}

/*アイコンの＋と*/
.title-2::before,
.title-2::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
}

.title-2::before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}

.title-2::after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}

/* closeといううクラスがついたら形状変化*/
.title-2.close::before {
  transform: rotate(45deg);
}

.title-2.close::after {
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box-2 {
  display: none; /*はじめは非表示*/

  padding: 3% 3% 1% 3%;
}

/*---------//もしも投稿リプライ全体-----*/

/*-----ひみつ道具投稿---------*/

.title-3 {
  position: relative;
  /*マーク位置基準とするためのrelative指定*/
  cursor: pointer;
}

/*アコーディオンで現れるエリア*/
.box-3 {
  display: none; /*はじめは非表示*/
}

/*----//ひみつ道具投稿---------*/

/*-------検索結果から戻る---------*/
.search_back {
  text-align: center;
}

.image-cursor {
  cursor: pointer;
}
