body {
  background-color: #5271ff;
}

nav .nav-item {
  font-family: "Hannari", serif;
}

.nav-space-left {
  margin-left: 100px;
}

.nav-space-right {
  margin-right: 50px;
}

.menu-color {
  color: #ffe681;
  font-weight: bold;
  font-size: large;
}
.menu-color:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-color {
  color: #ffffff;
  font-weight: bold;
  margin: 20px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 180px;
  height: 30px;
}
