main {
  width: auto;
  margin: 0 auto;
  display: block;
}

.mypage-item {
  font-size: 25px;
  font-weight: bold;
  float: left;
  margin-right: 50px;
  list-style-type: none;
}

ul li a {
  color: #fff;
  text-decoration: none;

  width: auto;
}

ul li a:hover {
  color: #ffe681;
}

ul li a.current {
  color: #fff;
}

#contents {
  clear: both;
}

#contents div {
  padding: 30px 20px;
}

.sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

td.button {
  width: 80px;
  text-align: right;
}
.td_update_txt {
  display: none;
}
.txt_update {
  width: 98%;
  height: 34px;
  font-size: 17px;
  padding-left: 8px;
  border-radius: 5px;
}
/*----------------- mypage_c ---------------*/
.button_for_mypage {
  border: solid 3px #fff;
  background-color: #f8e693;
  border-radius: 5px;
  transition: 0.5s;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button_for_mypage:hover {
  background-color: #c5f4ff;
  border: solid 3px #fff;
}

.button_mypage_c_td {
  width: 80px;
  text-align: center;
}
.mypage_c_for_moshimo {
  font-size: large;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.5s ease;
  border-radius: 10px;
  background-color: #c5f4ff;
  border: solid 5px #f8c0cd;
}

.moshimo-color2 {
  background-color: #f4bc32;
  border: solid 5px #c5f4ff;
}
