/*----リセットCSS--------*/
* {
  margin: 0;
  padding: 0;
}
/*---//リセットCSS-------*/

/*---topページのCSS-----*/
img {
  display: block;
}

img:first-child {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

img:nth-child(2) {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

img:nth-child(3) {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/*---//topページのCSS----*?
/*---背景画像の設定------*/

.fv {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

/*---//背景画像の設定------*/

/*-----ログインボタンの移動--*/
.login-button {
  position: absolute;
  top: 580px;
  left: 580px;
}
/*-----//ログインボタンの移動--*/

/*-----ログインボタンのサイズと余白設定--*/
.form-control {
  width: 180px;
  height: 30px;
  background-color: #c7d0d8;
}

.form-group {
  margin-top: 10px;
}

.button-position1 {
  margin-left: 13px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.button-position2 {
  position: absolute;
  top: 655px;
  right: 190px;
  margin-top: 5px;
  text-align: center;
}

.button-position3 {
  position: absolute;
  top: 650px;
  left: 50px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}

.button-position4 {
  font-size: 14px;
  text-align: center;
  margin-left: 13px;
}

.font-position {
  padding: 10px 0;
}

.btn02 {
  /*ボタンの形状*/
  display: inline-block;
  width: auto;
  max-width: 250px;
  height: 50px;
  line-height: 50px;
  outline: none;
}

/*ボタン内側の設定*/
.btn02 span {
  display: block;
  position: absolute;
  width: 150px;
  height: auto;
  border: 2px solid #000;
  /* 重なりを3Dで表示 */
  transform-style: preserve-3d;
  /* アニメーションの設定 数字が少なくなるほど早く回転 */
  transition: 0.5s;
}

/*== くるっと回転（奥に） */

/* 回転前 */
.rotateback span:nth-child(1) {
  background: #00bfff;
  color: #fff;
  border: 2px solid #0000cd;
  transform: rotateX(0deg); /*はじめは回転なし*/
  transform-origin: 0 50% -25px; /* 回転する起点 */
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(1) {
  transform: rotateX(90deg); /* X軸に90度回転 */
}

/* 回転後 */
.rotateback span:nth-child(2) {
  background: #00bfff;
  color: #000;
  border: 2px solid #0000cd;
  transform: rotateX(-90deg); /*はじめはX軸に-90度回転*/
  transform-origin: 0 50% -25px; /* 回転する起点 */
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(2) {
  transform: rotateX(0deg); /* X軸に0度回転 */
}

/*-----//ログインボタンのサイズと余白設定--*/

/*---register_bのCSS-------------------*/
/*---背景画像の設定---------------------*/
.register_b_img {
  background-image: url(../static/img/register_b.png);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
/*---register_bのCSS-------------------*/
/*---背景画像の設定---------------------*/

/*---register_cのCSS-------------------*/
/*---背景画像の設定---------------------*/

.register_c_img {
  background-image: url(../static/img/register_c.png);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
/*---register_cのCSS-------------------*/
/*---背景画像の設定---------------------*/

.register_button {
  position: absolute;
  top: 560px;
  left: 580px;
}

/*----apologyのCSS---------------------- */
.apology_div {
  width: max-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35em;
}

.apology_h1 {
  color: rgb(22, 22, 22);
  font-family: "Gill Sans", sans-serif;
}

.apology_p {
  color: rgb(22, 22, 22);
  text-align: right;
  font-size: xx-large;
  font-family: "Gill Sans", sans-serif;
}

/*----apologyのCSS---------------------- */
