/*----リセットCSS--------*/
* {
  margin: 0;
  padding: 0;
}
/*---//リセットCSS-------*/

/*---topページのCSS-----*/
img {
  display: block;
}
.img-position {
  position: relative;
  top: 0;
  left: 0;
}
img:first-child {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
img:nth-child(2) {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
img:nth-child(3) {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.top-button {
  position: absolute;
  top: 600px;
  left: 530px;
}

.btn-primary-top {
  width: 130px;
  height: 30px;
  margin-left: 50px;
  color: #fff;
  border: 2px solid #0000cd;
  border-radius: 0;
  background: #00bfff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}
.btn-primary-top:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

/*---//topページのCSS----*?
/*---背景画像の設定------*/

.fv {
  background-image: url(../static/img/dreams.png);
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
/*---//背景画像の設定------*/

/*-----ログインボタンの移動--*/
.login-button {
  position: absolute;
  top: 570px;
  left: 555px;
}
/*-----//ログインボタンの移動--*/

/*-----ログインボタンのサイズと余白設定--*/
.form-control {
  width: 180px;
  height: 30px;
}

.form-group {
  margin-top: 10px;
}

.btn-primary {
  margin-top: 10px;
  width: 80px;
  height: 30px;
  margin-left: 50px;
  color: #fff;
  border: 2px solid #0000cd;
  border-radius: 0;
  background: #00bfff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.btn-primary:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

/*-----//ログインボタンのサイズと余白設定--*/

/*-----はじめての方のとうろくボタン--------*/
.btn-primary-first {
  position: absolute;
  top: 655px;
  right: 50px;
  width: 120px;
  height: 30px;
  color: #fff;
  border: 2px solid #0000cd;
  border-radius: 0;
  background: #00bfff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.btn-primary-first:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}
/*-----はじめての方のとうろくボタン--------*/

/*-----開発者の方のとうろくボタン--------*/
.btn-primary-developer {
  position: absolute;
  top: 650px;
  left: 50px;
  position: absolute;
  width: 120px;
  height: 40px;
  font-size: 10px;
  color: #fff;
  border: 2px solid #0000cd;
  border-radius: 0;
  background: #00bfff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.btn-primary-developer:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}
/*-----//開発者の方のとうろくボタン--------*/

/*---register_bのCSS-------------------*/
/*---背景画像の設定---------------------*/
.register_b_img {
  background-image: url(../static/img/register_b.png);
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
/*---register_bのCSS-------------------*/
/*---背景画像の設定---------------------*/

/*---register_cのCSS-------------------*/
/*---背景画像の設定---------------------*/

.register_c_img {
  background-image: url(../static/img/register_c.png);
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
/*---register_cのCSS-------------------*/
/*---背景画像の設定---------------------*/

.register_button {
  position: absolute;
  top: 530px;
  left: 555px;
}
