{% extends "layout.html" %}

{% block title %}
index
{% endblock %}

{% block main %}
<head>
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />
</head>

<body>
  <h1>みんなの卒論掲示板</h1>
  <p class="subtitle">
    突然やってきたコロナ禍で、<br>
    人脈が増やせなかったというあなたへ。<br>
  </p>

  <img class="picture_index"
  src="https://3.bp.blogspot.com/-yIQWyO3k4Z8/U9y_Yboj1QI/AAAAAAAAjbw/ygckjDZ0GXk/s800/flower_seichou6.png"
  alt="A flower"/>

  <p class="intro">
    卒論を書いている皆さんは、<br>
    自分が学んでいることを<br>
    学部や大学の壁を越えて知ってもらえます。<br>
    意外と苦戦する、アンケートや実験の協力者の募集も<br>
    ここでできます。<br>
  </p>

  <img class="picture_index"
  src="https://1.bp.blogspot.com/-Kmvjvo21ZRE/U9y_XFsSPnI/AAAAAAAAjbo/WDNpwBcCe2E/s800/flower_seichou3.png"
  alt="New leaves"/>

  <p class="intro">
    下の学年の皆さんは、<br>
    先輩たちの卒論テーマや学びのルートを<br>
    参考にすることができます。<br>
    魅力的な未知の分野に出会えるかも。<br>
  </p>
</body>

{% endblock %}