{% extends "layout.html" %}

{% block title %}
卒論一覧
{% endblock %}

{% block main %}
<img class="picture"
    src="https://3.bp.blogspot.com/-Bf5saGqHN7s/U9y_ZUOiYCI/AAAAAAAAjcE/ZM0g9Ou-L5c/s800/flower_seichou8.png"
    alt="Flowers with butterfly"/>

<table class="table" cellspacing=500>
  {% for post in posts %}
    <tbody>
    <tr><th>タイトル</th></tr>
    <tr><td>{{post.title}}</td></tr>

    <tr><th>概要</th></tr>
    <tr><td>{{post.overview}}</td></tr>

    <tr><th>内容</th></tr>
    <tr><td>{{post.content}}</td></tr>

    <tr><th>これまで学んできたこと</th></tr>
    <tr><td>{{post.learned}}</td></tr>

    <tr><th>協力してほしいこと</th></tr>
    <tr><td>{{post.help}}</td></tr>
    </tbody>
  {% endfor %}
</table>
{% endblock %}