<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>もしもボックス</title>
</head>


<body>
<!-----------------------------ログインボタン-------------------------------->
    <div class="fv">
        <div class="login-button">
            <form action="/login" method="post">
               <div class="form-group">
                   <input autocomplete="off" autofocus class="form-control" name="username" placeholder="なまえ" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="ひみつのばんごう" type="password">
                </div>
                <button class="btn btn-primary" type="submit">ろぐいん</button>
            </form>
        </div>
<!------------------------------//ログインボタン-------------------------------->

<!------------------------------登録ボタン-------------------------------------->
            <div>
                
                   <a href="register_c.html"><button class="btn btn-primary-first" type="submit">はじめての方</button></a>
                
            </div>
                
<!-----------------------------//登録ボタン-------------------------------------->            

<!-----------------------------開発者登録ボタン----------------------------------->
            <div>
                
                  <a href="register_b.html"><button class="btn btn-primary-developer" type="submit">はじめましての<br>ひみつ道具の開発者の方</button></a>
                
            </div>
 <!----------------------------//開発者登録ボタン---------------------------------->               
        
    </div>

</body>
</html>