<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/reset.css">
    <link href="../static/favicon.png" rel="icon">
    <title>もしもボックス</title>
</head>


<body>
<!-----------------------------ログインボタン-------------------------------->
<div>
    <img  class="fv" src="../static/img/dreams.png" alt="" srcset="">      
        <div class="login-button">
            <form action="/login" method="post">
               <div class="form-group">
                   <input autocomplete="off" autofocus class="form-control" name="username" placeholder="なまえ" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="ひみつのばんごう" type="password">
                </div>
                <a class="btn02 rotateback button-position1" href="/dreams"><span>ろぐいん</span><span>もしもを叶えに行く</span></a>
            </form>
        </div>
    
<!------------------------------//ログインボタン-------------------------------->

<!------------------------------登録ボタン-------------------------------------->
            <div>
                
                   <a class="btn02 rotateback  button-position2" href="/register_c"><span>はじめての方</span><span>登録する</span></a>
                
            </div>
                
<!-----------------------------//登録ボタン-------------------------------------->            

<!-----------------------------開発者登録ボタン----------------------------------->
            <div>
                
                  <a class="btn02 rotateback button-position3" href="/register_b"><span>ひみつ道具開発者の方</span><span>登録する</span></a>
                
            </div>
    </div>
    <img  src="../static/img/top2.png" alt="b">
    <img  src="../static/img/top3.png" alt="c">
 <!----------------------------//開発者登録ボタン---------------------------------->               
</div>



</body>
</html>

