<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- http://getbootstrap.com/docs/4.5/ -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/dreams.css">
  <link rel="stylesheet" href="../static/mypage.css">
  <link rel="stylesheet" href="../static/reset.css">
  <link href="../static/favicon.png" rel="icon">
  <script src="../static/js/jquery-2.1.4.min.js"></script>
  
    <title>もしもボックス</title>
  <!--  -->
  <script>
    $(document).ready(function(){
    $('button[name="btn_update"]').click(function() {
        var id = $(this).val();
        if ($('#update_txt_' + id).is(':visible')) {
        $('#update_txt_' + id).hide();
        $('#secret_' + id).show();
        $(this).text('編集');
        } else {
        $('#update_txt_' + id).show();
        $('#secret_' + id).hide();
        $(this).text('戻す');
        }
    });
    $('button[name="btn_update_2"]').click(function() {
        var id = $(this).val();
        if ($('#update_txt_2_' + id).is(':visible')) {
        $('#update_txt_2_' + id).hide();
        $('#secret_2_' + id).show();
        $(this).text('編集');
        } else {
        $('#update_txt_2_' + id).show();
        $('#secret_2_' + id).hide();
        $(this).text('戻す');
        }
    });
    // $('input[name="update_txt"]').keydown(function(e) {
    //     if (e.keyCode == 13) {
    //     var id = $(this).attr("secret_id");
    //     $('#id').val(id);
    //     var title = $(this).val();
    //     $('#title').val(title)
    //     $('form[name="f"]').attr('action', '/title_edit');
    //     $('form[name="f"]').submit();
    //     }
    // });
    // $('input[name="update_txt_2"]').keydown(function(e) {
    //     if (e.keyCode == 13) {
    //     var id = $(this).attr("secret_id");
    //     $('#id').val(id);
    //     var content = $(this).val();
    //     $('#content').val(content)
    //     $('form[name="f"]').attr('action', '/content_edit');
    //     $('form[name="f"]').submit();
    //     }
    // });
    //$('button[name="btn_delete"]').click(function() {
    //    var id = $(this).val();
    //    $('#id').val(id);
    //    $('form[name="f"]').attr('action', '/secrets_delete');
    //    $('form[name="f"]').submit();
    //});
    });

</script>
  <!-- <input type="hidden" name="id" id="id">
  <input type="hidden" name="title" id="title">
  <input type="hidden" name="content" id="content"> -->
  <!--  -->
</head>
 
 
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #748eff;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="navbarNav4">
                {% if session["is_business"] == false%}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/dreams"><span class="menu-color">もしもボックス</span></a></li>    
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/secrets"><span class="menu-color">ひみつ道具</span></a></li>
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/mypage_c"><span class="menu-color">マイページ</span></a></li>
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/ranking"><span class="menu-color">ランキング</span></a></li>
                    </ul>

                    {% else %}
                        <ul class="navbar-nav mr-auto mt-2">
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/dreams"><span class="menu-color">もしもボックス</span></a></li>    
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/secrets"><span class="menu-color">ひみつ道具</span></a></li>
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/mypage_b"><span class="menu-color">マイページ</span></a></li>
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/ranking"><span class="menu-color">ランキング</span></a></li>
                        </ul>
                {% endif %}

                    <ul class="navbar-nav ml-auto mt-2 nav-space-right">
                        <li class="nav-item"><a class="nav-link green" href="/logout"><span class="menu-color">ろぐあうと</span></a></li>
                    </ul>
  
            </div>
  </nav>

  <main>
        <div class="title-wrapper">
             <img src="../static/img/shine.png" alt="">
             <h1 class="title-color">マイページ</h1>
             <img src="../static/img/shine.png" alt="">
        </div>




  <div class="sub-menu">
        <ul class="mypage-wrapper">
          <li class="mypage-item"><a href="#tab1" class="current">マイ　ひみつ道具</a></li>
          <li class="mypage-item"><a href="#tab2">マイ　コメント</a></li>
        </ul>
   </div>
   <div id="contents">
   <div id="tab1">    
        
<!-- --------------------編集してる部分-------------------------------------------- -->

    {% for secret in secrets %}
        {% for user in users %}
            {% if secret['user_id'] == user['id'] %}
            
              <section class="secrets-color">
                <table class="table table-striped">
                  <tbody>
                    <tr class="form-control-secrets title-3">
                      <td class="td">
                        <section title-3>
                            <!-- --------------------- -->
                            
                            <section>
                                <p id="secret_{{secret.id}}" secret_id="{{secret.id}}">&nbsp;&nbsp;{{ secret.title }}</p>
                            </section>
                                <section class="td_update_txt" id="update_txt_{{secret.id}}">
                                    <form action="/title_edit" method="post">
                                        <input type="text" class="txt_update" name="title_update_txt" placeholder="{{ secret.title }}">
                                        <input hidden type="text" name = "title_id" value = "{{ secret.id }}">
                                        <button type="submit">変更</button>
                                    </form>
                                </section>
                            <section class="button">
                                <button type="button" name="btn_update" value="{{ secret.id }}">編集</button>
                            </section>
                            
                          <!-- --------------------------------- -->
                        </section>
                      </td>
                    </tr>
                   <section class="box-3">
                    <tr class="img-border">
                       <td>
                        <label>画像：
                        {% for filename in filenames %}
                          {% if filename['image'] == secret['image'] %}
                            <section>
                                <img src="../static/upload_img/{{filename['image']}}" alt="「ひみつ道具」image" width="680px" height="auto">
                            </section>
                            <form action="/image_edit" method="post" enctype="multipart/form-data">
                                <label>画像：<input type="file" name="image_file" accept="image/jpeg,image/png,image/gif" onchange="fileup(this)" /></label>
                                <section>
                                    <img src="" id="img" />
                                </section>
                                <input hidden type="text" name = "secret_id" value = "{{ secret.id }}">
                                <button type="submit">変更</button>
                            </form>               
                          {% endif %}
                        {% endfor %}
                       </td>
                    </tr>
        
                    <tr class="form-control-secrets">
                      <td>
                        <section>
                            <section class="text_of_title" id="secret_2_{{secret.id}}"
                            secret_id="{{secret.id}}">
                                <p>&nbsp;&nbsp;{{ secret['content'] }}</p>
                            </section>
                            <!-- --------- -->
                            <section class="td_update_txt" id="update_txt_2_{{secret.id}}">
                                <form action="/content_edit" method="post">
                                    <input type="text" class="txt_update" name="content_update_txt" secret_id="{{ secret.id }}" value="{{ secret.content }}">
                                    <input hidden type="text" name = "content_id" value = "{{ secret.id }}">
                                    <button type="submit">変更</button>
                                </form>
                            </section>
                            <section class="button"><button type="button" name="btn_update_2" value="{{ secret.id }}">編集</button></section>
                            <form class="form-secrets-width" action="/secrets_delete" method="post">
                                <section class="button">   
                                    <button type="submit" name="secret_id" value="{{ secret.id }}">ひみつ道具を削除</button>
                                </section>
                            </form>
                          <!-- ------------- -->
                        </section>
                      </td>
                    </tr>
                  </section>
                  </tbody>
                </table>
              
              </section>
            </form>
            <br>
            <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
<!-- -------------------------------------------------------------------- -->
  

<!-- ----------タブ（マイもしも）------------------------------------------------- -->
      

          <div id="tab2">
                <section style="width: 75%; margin-left: auto; margin-right: auto;">
                  <table class="table" style="border-color: #5271ff;">
                      <tbody>
                      {% for dream in dreams %}
                      {% for user in users %}
                      {% if dream['user_id'] == user['id'] %}
                          <tr>
                              <th colspan="6">もしも</th>
                          </tr>
                          <tr>
                              {% if dream['user_id'] == session['user_id'] %}
                              <form name="f{{dream.id}}" method="post">
                              <input type="hidden" name="id" value="{{dream.id}}">
                              <td id="dream_{{dream.id}}" dream_id="{{dream.id}}">
                                  <section class="mypage_c_for_moshimo">
                                      {{user.username}}: &emsp;{{ dream.content }}
                                  </section>
                              </td>
                              <td class="td_update_txt" id="update_txt_{{dream.id}}">
                                  <input type="text" class="txt_update" name="content" dream_id="{{ dream.id }}" value="{{ dream.content }}">
                              </td>
                              <td class="button_mypage_c_td"><button class="button_for_mypage" type="button" name="btn_update" value="{{ dream.id }}"><img id ="image"src="../static/img/pen.png" alt="" srcset=""></button></td>
                              <td class="button_mypage_c_td"><button class="button_for_mypage" type="button" name="btn_delete" value="{{ dream.id }}"><img src="../static/img/trash.png" alt="" srcset=""></button></td>
                              </form>
                              {% else %}
                              <td colspan="3" id="dream_{{dream.id}}" dream_id="{{dream.id}}">
                                  <section class="mypage_c_for_moshimo">
                                      {{user.username}}: &emsp;{{ dream.content }}
                                  </section>
                              </td>
                              {%endif%}
                          </tr>
                      {%endif%}
                      {%endfor%}
                          {% for comment in comments%}
                              {% if dream['id'] == comment['dreams_id'] %}
                                  {% for user in users %}
                                      {% if comment['user_id'] == user['id'] %}
                                          <tr>
                                              <th colspan="3">コメント</th>
                                          </tr>
                                          <tr>
                                              {% if comment['user_id'] == session['user_id'] %}
                                                {% if comment['is_best'] == false %}
                                                    <tr>
                                                        <td>
                                                            <section class="mypage_c_for_moshimo">
                                                                {{user.username}}: &emsp;{{ comment.content }}
                                                            </section>
                                                        </td>
                                                        <td class="button_mypage_c_td"  colspan="2">
                                                            <form action="/comment_delete" method="post">
                                                                <button class="button_for_mypage" type="submit" name="comment_id" value="{{ comment.id }}"><img src="../static/img/trash.png" alt="" srcset=""></button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td>
                                                            <section class="mypage_c_for_moshimo">
                                                                {{user.username}}: &emsp;{{ comment.content }}
                                                            </section>
                                                        </td>
                                                        <td class="button_mypage_c_td"  colspan="2">
                                                            <form action="/comment_delete" method="post">
                                                                <button class="button_for_mypage" type="submit" name="comment_id" value="{{ comment.id }}"><img src="../static/img/trash.png" alt="" srcset=""></button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% else %}
                                                {% if comment['is_best'] == false %}
                                                    <td>
                                                        <section class="mypage_c_for_moshimo">
                                                            {{user.username}}: &emsp;{{ comment.content }}
                                                        </section>
                                                    </td>
                                                    {% if dream['user_id'] == session['user_id'] %}
                                                    <td class="button_mypage_c_td"  colspan="2">
                                                        <form action="/best_answer" method="post">
                                                            <button class="button_for_mypage" type="submit" name="comment_id" value="{{ comment.id }}"><img src="../static/img/flower.png" alt="" srcset=""></button>
                                                        </form>
                                                    </td>
                                                    {% endif %}
                                                {% else %}
                                                    <td>
                                                        <section class="mypage_c_for_moshimo">
                                                            {{user.username}}: &emsp;{{ comment.content }}
                                                        </section>
                                                    </td>
                                                    {% if dream['user_id'] == session['user_id'] %}
                                                    <td class="button_mypage_c_td"  colspan="2">
                                                        <form action="/cancel_best_answer" method="post">
                                                            <button class="button_for_mypage" type="submit" name="comment_id" value="{{ comment.id }}"><img src="../static/img/black-flower.png" alt="" srcset=""></button>
                                                        </form>
                                                    </td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                  {% endfor %}
                                  <!--  -->
                                  {% for reply in replies %}
                                      {% if reply['comments_id'] == comment['id'] %}
                                          {% for user in users %}
                                              {% if user['id'] == reply['user_id'] %}
                                              <tr>
                                                  <th colspan="3">リプライ</th>
                                              </tr>
                                              <tr>
                                                  {% if reply['user_id'] == session['user_id'] %}
                                                  <tr>
                                                          <td>
                                                              <section class="mypage_c_for_moshimo">
                                                                  {{user.username}}: &emsp;{{ reply.content }}
                                                              </section>
                                                          </td>
                                                          <td colspan="2" class="button_mypage_c_td">
                                                              <form action="/reply_delete" method="post">
                                                                  <button class="button_for_mypage" type="submit" name="reply_id" value="{{ reply['id'] }}"><img src="../static/img/trash.png" alt="" srcset=""></button>
                                                              </form>
                                                          </td>
                                                  </tr>
                                                  {% else %}
                                                      <td>
                                                          <section class="mypage_c_for_moshimo">
                                                              {{user.username}}: &emsp;{{ reply.content }}
                                                          </section>
                                                      </td>
                                                  {% endif %}
                                              </tr>
                                              {% endif %}
                                          {% endfor %}
                                      {% endif %}
                                  {% endfor %}
                                  <!--  -->
                              {% endif %}
                          {% endfor %}
                          <tr><th colspan="6"></th></tr>
                          <tr><th colspan="6"></th></tr>
                          <tr><th colspan="6"></th></tr>
                          <tr><th colspan="6"></th></tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </section>
    
        </div>
  </div>
</main>

<footer id="footer">
    <p id="page-top" class="hide-btn">
        <a href="#">Page Top</a>
    </p>     
  </footer>
</body>
<script src="../static/js/script.js"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/8-1-2/js/8-1-2.js"></script>
</html>