<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- http://getbootstrap.com/docs/4.5/ -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/dreams.css">
  <link rel="stylesheet" href="../static/mypage.css">
  <link rel="stylesheet" href="../static/reset.css">
  <link href="../static/favicon.png" rel="icon">
  <script src="../static/js/jquery-2.1.4.min.js"></script>
  
    <title>もしもボックス</title>

</head>
 
 
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #748eff;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="navbarNav4">
                {% if session["is_business"] == false%}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/dreams"><span class="menu-color">もしもボックス</span></a></li>    
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/secrets"><span class="menu-color">ひみつ道具</span></a></li>
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/mypage_c"><span class="menu-color">マイページ</span></a></li>
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/ranking"><span class="menu-color">ランキング</span></a></li>
                    </ul>

                    {% else %}
                        <ul class="navbar-nav mr-auto mt-2">
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/dreams"><span class="menu-color">もしもボックス</span></a></li>    
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/secrets"><span class="menu-color">ひみつ道具</span></a></li>
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/mypage_b"><span class="menu-color">マイページ</span></a></li>
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/ranking"><span class="menu-color">ランキング</span></a></li>
                        </ul>
                {% endif %}

                    <ul class="navbar-nav ml-auto mt-2 nav-space-right">
                        <li class="nav-item"><a class="nav-link green" href="/logout"><span class="menu-color">ろぐあうと</span></a></li>
                    </ul>
  
            </div>
  </nav>

  <main>
        <div class="title-wrapper">
             <img src="../static/img/shine.png" alt="">
             <h1 class="title-color">マイページ</h1>
             <img src="../static/img/shine.png" alt="">
        </div>




  <div class="sub-menu">
        <ul class="mypage-wrapper">
          <li class="mypage-item"><a href="#tab1" class="current">マイ　ひみつ道具</a></li>
          <li class="mypage-item"><a href="#tab2">マイ　ベストアンサー</a></li>
        </ul>
   </div>
   <div id="tab2">    
        <p>マイ　ひみつ道具</p>

        <script>
            $(document).ready(function(){
            $('button[name="btn_update"]').click(function() {
                var id = $(this).val();
                if ($('#update_txt_' + id).is(':visible')) {
                $('#update_txt_' + id).hide();
                $('#secret_' + id).show();
                $(this).text('編集');
                } else {
                $('#update_txt_' + id).show();
                $('#secret_' + id).hide();
                $(this).text('戻す');
                }
            });
            $('button[name="btn_update_2"]').click(function() {
                var id = $(this).val();
                if ($('#update_txt_2_' + id).is(':visible')) {
                $('#update_txt_2_' + id).hide();
                $('#secret_2_' + id).show();
                $(this).text('編集');
                } else {
                $('#update_txt_2_' + id).show();
                $('#secret_2_' + id).hide();
                $(this).text('戻す');
                }
            });
            // $('input[name="update_txt"]').keydown(function(e) {
            //     if (e.keyCode == 13) {
            //     var id = $(this).attr("secret_id");
            //     $('#id').val(id);
            //     var title = $(this).val();
            //     $('#title').val(title)
            //     $('form[name="f"]').attr('action', '/title_edit');
            //     $('form[name="f"]').submit();
            //     }
            // });
            // $('input[name="update_txt_2"]').keydown(function(e) {
            //     if (e.keyCode == 13) {
            //     var id = $(this).attr("secret_id");
            //     $('#id').val(id);
            //     var content = $(this).val();
            //     $('#content').val(content)
            //     $('form[name="f"]').attr('action', '/content_edit');
            //     $('form[name="f"]').submit();
            //     }
            // });
            //$('button[name="btn_delete"]').click(function() {
            //    var id = $(this).val();
            //    $('#id').val(id);
            //    $('form[name="f"]').attr('action', '/secrets_delete');
            //    $('form[name="f"]').submit();
            //});
            });

        </script>
          <!-- <input type="hidden" name="id" id="id">
          <input type="hidden" name="title" id="title">
          <input type="hidden" name="content" id="content"> -->

<!-- ------------------------編集してる部分-------------------------------------------- -->
<div>
    {% for secret in secrets %}
        {% for user in users %}
            {% if secret['user_id'] == user['id'] %}
            
              <div class="secrets-color">
                <table class="table table-striped">
                  <tbody>
                    <tr class="form-control-secrets title-3">
                      <td class="td">
                        <div title-3>
                            <!-- --------------------- -->
                            
                            <div>
                                <p id="secret_{{secret.id}}" secret_id="{{secret.id}}">Title:&nbsp;&nbsp;{{ secret.title }}</p>
                            </div>
                                <div class="td_update_txt" id="update_txt_{{secret.id}}">
                                    <form action="/title_edit" method="post">
                                        <input type="text" class="txt_update" name="title_update_txt" placeholder="{{ secret.title }}">
                                        <input hidden type="text" name = "title_id" value = "{{ secret.id }}">
                                        <button type="submit">変更</button>
                                    </form>
                                </div>
                            <div class="button">
                                <button type="button" name="btn_update" value="{{ secret.id }}">編集</button>
                            </div>
                            
                          <!-- --------------------------------- -->
                        </div>
                      </td>
                    </tr>
                   <div class="box-3">
                    <tr class="img-border">
                       <td>
                        <label>画像：
                        {% for filename in filenames %}
                          {% if filename['image'] == secret['image'] %}
                            <div>
                                <img src="../static/upload_img/{{filename['image']}}" alt="「ひみつ道具」image" width="680px" height="auto">
                            </div>
                            <form action="/image_edit" method="post" enctype="multipart/form-data">
                                <label>画像：<input type="file" name="image_file" accept="image/jpeg,image/png,image/gif" onchange="fileup(this)" /></label>
                                <div>
                                    <img src="" id="img" />
                                </div>
                                <input hidden type="text" name = "secret_id" value = "{{ secret.id }}">
                                <button type="submit">変更</button>
                            </form>               
                          {% endif %}
                        {% endfor %}
                       </td>
                    </tr>
        
                    <tr class="form-control-secrets">
                      <td>
                        <div>
                            <div class="text_of_title" id="secret_2_{{secret.id}}"
                            secret_id="{{secret.id}}">
                                <p>Content:&nbsp;&nbsp;{{ secret['content'] }}</p>
                            </div>
                            <!-- --------- -->
                            <div class="td_update_txt" id="update_txt_2_{{secret.id}}">
                                <form action="/content_edit" method="post">
                                    <input type="text" class="txt_update" name="content_update_txt" secret_id="{{ secret.id }}" value="{{ secret.content }}">
                                    <input hidden type="text" name = "content_id" value = "{{ secret.id }}">
                                    <button type="submit">変更</button>
                                </form>
                            </div>
                            <div class="button"><button type="button" name="btn_update_2" value="{{ secret.id }}">編集</button></div>
                            <form class="form-secrets-width" action="/secrets_delete" method="post">
                                <div class="button">   
                                    <button type="submit" name="secret_id" value="{{ secret.id }}">ひみつ道具を削除</button>
                                </div>
                            </form>
                          <!-- ------------- -->
                        </div>
                      </td>
                    </tr>
                  </div>
                  </tbody>
                </table>
              
              </div>
            </form>
          
  
            <br>
            <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
  </div>
</div>
<!-- -------------------------------------------------------------------- -->
  


      <p>マイ コメント</p>

          <div id="tab2">
            
            <p>マイ　ベストアンサーの内容</p>
            <form action="/post_register" method="post">
         
              <section class="form-floating">
                  <textarea class="form-control-dreams" name="title" placeholder="もしもを投稿してください" id="floatingTextarea2" style="height: 60px"></textarea>
                  <button class="btn btn-light btn-dreams-width" type="submit">もしもを投稿</button>
               </section> 
            </form>
          

           </div>
</div>
</main>

</body>
<script src="../static/js/script.js"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/8-1-2/js/8-1-2.js"></script>
</html>