{% extends "layout.html" %}

{% block title %}
自分の卒論
{% endblock %}

{% block main %}
<img class="picture"
    src="https://2.bp.blogspot.com/-87sBpx97gR0/U9y_Y3H3YVI/AAAAAAAAjb4/M072PcK65nc/s800/flower_seichou7.png"
    alt="Flowers"/>

<form name="f" method="post">
  <table class="table table-striped">
    <tbody>
      {% for post in posts %}
      <tr><th>タイトル</th></tr>
      <tr>
        <td
          id="post_{{post.id}}"
          post_id="{{post.id}}">{{ post.title }}
        </td>
        <td class="td_update_txt" id="update_txt_{{post.id}}">
          <input type="text" class="txt_update" name="update_txt" post_id="{{ post.id }}" value="{{ post.title }}">
        </td>
        <td class="button"><button type="button" name="btn_update" value="{{ post.id }}">編集</button></td>
      </tr>

      <tr><th>概要</th></tr>
      <tr>
        <td
          id="post_2_{{post.id}}"
          post_id="{{post.id}}">{{ post.overview }}
        </td>

        <td class="td_update_txt" id="update_txt_2_{{post.id}}">
          <input type="text" class="txt_update" name="update_txt_2" post_id="{{ post.id }}" value="{{ post.overview }}">
        </td>
        <td class="button"><button type="button" name="btn_update_2" value="{{ post.id }}">編集</button></td>
      </tr>

      <tr><th>内容</th></tr>
      <tr>
        <td
          id="post_3_{{post.id}}"
          post_id="{{post.id}}">{{ post.content }}
        </td>

        <td class="td_update_txt" id="update_txt_3_{{post.id}}">
          <input type="text" class="txt_update" name="update_txt_3" post_id="{{ post.id }}" value="{{ post.content }}">
        </td>
        <td class="button"><button type="button" name="btn_update_3" value="{{ post.id }}">編集</button></td>
      </tr>

      <tr><th>これまで学んできたこと</th></tr>
      <tr>
        <td
          id="post_4_{{post.id}}"
          post_id="{{post.id}}">{{ post.learned }}
        </td>

        <td class="td_update_txt" id="update_txt_4_{{post.id}}">
          <input type="text" class="txt_update" name="update_txt_4" post_id="{{ post.id }}" value="{{ post.learned }}">
        </td>
        <td class="button"><button type="button" name="btn_update_4" value="{{ post.id }}">編集</button></td>
      </tr>

      <tr><th>協力してほしいこと</th></tr>
      <tr>
        <td
          id="post_5_{{post.id}}"
          post_id="{{post.id}}">{{ post.help }}
        </td>

        <td class="td_update_txt" id="update_txt_5_{{post.id}}">
          <input type="text" class="txt_update" name="update_txt_5" post_id="{{ post.id }}" value="{{ post.help }}">
        </td>
        <td class="button"><button type="button" name="btn_update_5" value="{{ post.id }}">編集</button></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <input type="hidden" name="id" id="id">
  <input type="hidden" name="title" id="title">
  <input type="hidden" name="overview" id="overview">
  <input type="hidden" name="content" id="content">
  <input type="hidden" name="learned" id="learned">
  <input type="hidden" name="help" id="help">
</form>

<script>
    $(document).ready(function(){
      $('button[name="btn_update"]').click(function() {
        var id = $(this).val();
        if ($('#update_txt_' + id).is(':visible')) {
          $('#update_txt_' + id).hide();
          $('#post_' + id).show();
          $(this).text('編集');
        } else {
          $('#update_txt_' + id).show();
          $('#post_' + id).hide();
          $(this).text('戻す');
        }
      });
      $('button[name="btn_update_2"]').click(function() {
        var id = $(this).val();
        if ($('#update_txt_2_' + id).is(':visible')) {
          $('#update_txt_2_' + id).hide();
          $('#post_2_' + id).show();
          $(this).text('編集');
        } else {
          $('#update_txt_2_' + id).show();
          $('#post_2_' + id).hide();
          $(this).text('戻す');
        }
      });
      $('button[name="btn_update_3"]').click(function() {
        var id = $(this).val();
        if ($('#update_txt_3_' + id).is(':visible')) {
          $('#update_txt_3_' + id).hide();
          $('#post_3_' + id).show();
          $(this).text('編集');
        } else {
          $('#update_txt_3_' + id).show();
          $('#post_3_' + id).hide();
          $(this).text('戻す');
        }
      });
      $('button[name="btn_update_4"]').click(function() {
        var id = $(this).val();
        if ($('#update_txt_4_' + id).is(':visible')) {
          $('#update_txt_4_' + id).hide();
          $('#post_4_' + id).show();
          $(this).text('編集');
        } else {
          $('#update_txt_4_' + id).show();
          $('#post_4_' + id).hide();
          $(this).text('戻す');
        }
      });
      $('button[name="btn_update_5"]').click(function() {
        var id = $(this).val();
        if ($('#update_txt_5_' + id).is(':visible')) {
          $('#update_txt_5_' + id).hide();
          $('#post_5_' + id).show();
          $(this).text('編集');
        } else {
          $('#update_txt_5_' + id).show();
          $('#post_5_' + id).hide();
          $(this).text('戻す');
        }
      });

      $('input[name="update_txt"]').keydown(function(e) {
        if (e.keyCode == 13) {
          var id = $(this).attr("post_id");
          $('#id').val(id);
          var title = $(this).val();
          $('#title').val(title)
          $('form[name="f"]').attr('action', '/title_edit');
          $('form[name="f"]').submit();
        }
      });
      $('input[name="update_txt_2"]').keydown(function(e) {
        if (e.keyCode == 13) {
          var id = $(this).attr("post_id");
          $('#id').val(id);
          var overview = $(this).val();
          $('#overview').val(overview)
          $('form[name="f"]').attr('action', '/overview_edit');
          $('form[name="f"]').submit();
        }
      });
      $('input[name="update_txt_3"]').keydown(function(e) {
        if (e.keyCode == 13) {
          var id = $(this).attr("post_id");
          $('#id').val(id);
          var content = $(this).val();
          $('#content').val(content)
          $('form[name="f"]').attr('action', '/content_edit');
          $('form[name="f"]').submit();
        }
      });
      $('input[name="update_txt_4"]').keydown(function(e) {
        if (e.keyCode == 13) {
          var id = $(this).attr("post_id");
          $('#id').val(id);
          var learned = $(this).val();
          $('#learned').val(learned)
          $('form[name="f"]').attr('action', '/learned_edit');
          $('form[name="f"]').submit();
        }
      });
      $('input[name="update_txt_5"]').keydown(function(e) {
        if (e.keyCode == 13) {
          var id = $(this).attr("post_id");
          $('#id').val(id);
          var help = $(this).val();
          $('#help').val(help)
          $('form[name="f"]').attr('action', '/help_edit');
          $('form[name="f"]').submit();
        }
      });
    });
</script>
{% endblock %}