{% extends "layout.html" %}

{% block title %}
卒論登録
{% endblock %}

{% block main %}
<img class="picture"
  src="https://1.bp.blogspot.com/-_9JHfb-QeZs/XOPXMKB4yXI/AAAAAAABS6Y/5TO1Hu0o7oAFAhGHHsdHW4sNcd6nzAnfgCLcBGAs/s800/flower_tanpopo_watage_solo.png"
  alt="A fluff"/>
<form action="/post_register" method="post">
  <div class="form-floating">
    <textarea class="form-control" name="title" placeholder="Title" id="floatingTextarea2" style="height: 50px"></textarea>
    <label for="floatingTextarea">卒論のタイトル</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" name="overview" placeholder="Overview" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea">概要（わかりやすく短めに）</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" name="content" placeholder="Content" id="floatingTextarea2" style="height: 200px"></textarea>
    <label for="floatingTextarea">内容や目的（あなたの想いが伝わるように、その分野に詳しくない人にも伝わりやすいように書きましょう）</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" name="learned" placeholder="Academic history" id="floatingTextarea2" style="height: 200px"></textarea>
    <label for="floatingTextarea">これまで学んできたこと（なぜこの卒論テーマにしたのか、これまでの経緯を振り返って教えてください。後輩の道しるべになります。</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" name="help" placeholder="Request for cooperation" id="floatingTextarea2" style="height: 200px"></textarea>
    <label for="floatingTextarea">協力してほしいこと（アンケートや実験協力などのリンクを共有できます。実施目的も忘れず書いてください。）</label>
  </div>
  <button class="btn btn-light" type="submit">登録</button>
</form>

{% endblock %}