<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/reset.css">
    <link href="../static/favicon.png" rel="icon">
    <title>もしもボックス</title>
</head>
<body>
<!-----------------------------登録画面-------------------------------------------->
    <div">
        <img src="../static/img/register_b.png" alt="" srcset="">
        <div class="register_button">
        <form action="/register_b" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="なまえ" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="ひみつのばんごう" type="password">
            </div>
    
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="ひみつのばんごう（確認）" type="password">
            </div>
    
            <button class="btn btn-primary" type="submit">とうろく</button>
        </form>
        </div>
       
    </div>
 <!-------------------------------------//登録画面--------------------------------------------------->   
</body>
</html>