{% extends "layout.html" %}

{% block title %}
はじめましての方
{% endblock %}

{% block main %}
<img class="picture"
    src="https://3.bp.blogspot.com/-VR9OkfpvBwc/WGCxRlEdbSI/AAAAAAABApc/QeVLX61QiXcNgyYh0EeKempwOZj9FbL-wCLcB/s400/gardening_jouro.png"
    alt="Watering"/>

<form action="/register" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control_2" name="username" placeholder="ユーザー名" type="text">
    </div>
    <div class="form-group">
        <input class="form-control_2" name="password" placeholder="パスワード" type="password">
    </div>
    <div class="form-group">
        <input class="form-control_2" name="confirmation" placeholder="パスワード（確認）" type="password">
    </div>
    <button class="btn btn-light" type="submit">登録</button>
</form>
{% endblock %}
