<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- http://getbootstrap.com/docs/4.5/ -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/dreams.css">
  <link rel="stylesheet" href="../static/mypage.css">
  <link rel="stylesheet" href="../static/reset.css">
  <link href="../static/favicon.png" rel="icon">
  <script src="../static/js/jquery-2.1.4.min.js"></script>
  <script src="../static/js/script.js"></script>
    <title>もしもボックス</title>


    <script>
        $(function () {
    //tab1以外を非表示にする
    $('#contents div[id != "tab1"]').hide();

    //タブをクリック
    $("a").click(function () {
        //クリック時の処理
        $("#contents div").hide();
        $($(this).attr("href")).show();

        //現在のcurrentクラスを排除
        $(".current").removeClass("current");

        //選択されたタブ（自分自身）にcurrentクラスを追加
        $(this).addClass("current");
        return false;
    });
});

     
    </script>
</head>
 
 <body>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #748eff;">
            <div class="collapse navbar-collapse" id="navbarNav4">
                {% if session["is_business"] == false%}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/dreams"><span class="menu-color">もしもボックス</span></a></li>    
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/secrets"><span class="menu-color">ひみつ道具</span></a></li>
                        <li class="nav-item nav-space-left"><a class="nav-link" href="/mypage_c"><span class="menu-color">マイページ</span></a></li>
                    </ul>

                    {% else %}
                        <ul class="navbar-nav mr-auto mt-2">
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/dreams"><span class="menu-color">もしもボックス</span></a></li>    
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/secrets"><span class="menu-color">ひみつ道具</span></a></li>
                            <li class="nav-item nav-space-left"><a class="nav-link" href="/mypage_b"><span class="menu-color">マイページ</span></a></li>
                        </ul>
                {% endif %}

                    <ul class="navbar-nav ml-auto mt-2 nav-space-right">
                        <li class="nav-item"><a class="nav-link green" href="/logout"><span class="menu-color">ろぐあうと</span></a></li>
                    </ul>
  
            </div>
  </nav>

  <main>
        <div class="title-wrapper">
             <img src="../static/img/shine.png" alt="">
             <h1 class="title-color">解決済みのもしもボックス</h1>
             <img src="../static/img/shine.png" alt="">
        </div>
        {% for dream in dreams %}
            {% for user in users %}
                {% if dream['user_id'] == user['id'] %}
                    <!-- ---------------- もしも投稿の表示部分 ------------------>
                    <div class="form-floating">
                        <textarea class="form-control-dreams" name="content" id="floatingTextarea2" style="height: 60px;width: 70%;">{{ user['username'] }}:{{ dream['content'] }}</textarea>
                    </div>
                    <!-- ---------------- もしも投稿の表示部分 ------------------>
                {% endif %}
            {% endfor %}
            {% for comment in comments %}
                        {% if dream['id'] == comment['dreams_id'] %}
                            {% for user in users %}
                                {% if comment['user_id'] == user['id'] %}
                                <!-- ---------------- コメント投稿の表示部分 ------------------>
                                    <div class="form-floating">
                                        <textarea class="form-control-dreams" name="content" id="floatingTextarea2" style="height: 60px; margin-left:130px;">{{ user['username'] }}:{{ comment['content'] }}</textarea>
                                    </div>
                                <!-- ---------------- コメント投稿の表示部分 ------------------>
                                {% endif %}
                            {% endfor %}
                            {% for reply in replies %}
                                {% if reply['comments_id'] == comment['id'] %}
                                    {% for user in users %}
                                        {% if user['id'] == reply['user_id'] %}
                                        <!-- ---------------- リプライ投稿の表示部分 ------------------>
                                            <div class="form-floating">
                                                <textarea class="form-control-dreams" name="content" id="floatingTextarea2" style="height: 60px; width: 30%; margin-left:180px;">{{ user['username'] }}:{{ reply['content'] }}</textarea>
                                            </div>
                                        <!-- ---------------- リプライ投稿の表示部分 ------------------>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
            {% endfor %}
    {% endfor %}


    <div class="search_back"><a href="/dreams"><button id="top-dreams" class="btn btn-light btn-secrets-width" type="submit">もしもボックスに戻る</button></a></div>
  </main>
</body>
</html>