{% extends "layout_for_test.html" %}

{% block title %}
    test
{% endblock %}

{% block main %}
    <div class="outer" >
        <h1>{{ test }}</h1>
        <br><br><br>
        {% for name in names%}
            <h2>{{ name }}</h2>
        {% endfor %}
        <br><br><br>
        <h5>DBの表示確認</h5>
            <table class="table" cellspacing=500>
                {% for secret in secrets%}
                    <tbody>
                    <tr><td>{{ secret['title'] }}</td></tr>
                    <tr><td class="table-img">
                            <img src="{{ secret['image'] }}" alt="">
                        </td>
                    </tr>
                    <tr><td>{{ secret['content'] }}</td></tr>
                    </tbody>    
                    {% endfor %}
            </table>
    </div>
{% endblock%}