{% for dream in dreams %}
<section>
{% for user in users %}
    {% if dream['user_id'] == user['id'] %}
        <ul class="accordion-area">
       
        <li>
            <section>
            <h3 class="title">{{ user['username'] }}:{{ dream['content'] }}</h3>

    {% endif %}
{% endfor %}

<div class="box">
{% for comment in comments %}
    {% if dream['id'] == comment['dreams_id'] %}
        {% for user in users %}
            {% if comment['user_id'] == user['id'] %}
        <!--------もしも投稿に対してのリプライとそれへのコメント-------->
              
                <section class="accordion-area2">     
                    <li class="replay-color">

                    <section>
                        <h3 class="title-2">{{ user['username'] }}:{{ comment['content'] }}</h3>
            {% endif %}
        {% endfor %}
        {% for reply in replies %}
            {% if reply['comments_id'] == comment['id'] %}
                {% for user in users %}
                    {% if user['id'] == reply['user_id'] %}
                        <div class="box-2">
                            <p>{{ user['username'] }}:{{ reply['content'] }}</p>
                            
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

                            <form action="/reply" method="post">
                                <div class="form-floating">
                                    <textarea class="form-control-dreams" name="content" placeholder="コメントにリプライ" id="floatingTextarea2" style="height: 60px"></textarea>
                                    <input hidden type="text" name = "comments_id" value = "{{ comment['id'] }}">
                                    <button  id="top-dreams" class="btn btn-light btn-dreams-width" type="submit">リプライ</button>
                                </div>
                            </form>
                        </div>
                    </section>
                    </li>
                </section>
    {% endif %}   
{% endfor %}       
    
        <!--------//もしも投稿に対してのリプライとそれへのコメント-------->
                
        <!----------もしも投稿に対する返信フォーム----------------------->
                 <form action="/comment" method="post">

                    <div class="form-floating">
                        <textarea class="form-control-dreams" name="content" placeholder="もしも投稿にコメント" id="floatingTextarea2" style="height: 60px"></textarea>
                        <input hidden type="text" name = "dreams_id" value = "{{ dream['id'] }}">
                        <button  id="top-dreams" class="btn btn-light btn-dreams-width" type="submit">コメント</button>
                    </div>
                </form>
        <!----------//もしも投稿に対する返信フォーム----------------------->
            </div>
        </section>
        </li>
        </ul>
</section>
{% endfor %}
