{% extends "layout_for_test.html" %}

{% block title %}
    test
{% endblock %}

{% block main %}
    <div class="outer" >
        <table class="table" cellspacing=500>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dream in dreams %}
                    <tr>
                        {% set var = "（もしも)" %}
                        {% for user in users %}
                            {% if dream['user_id'] == user['id'] %}
                                <td>{{ user['username'] }}</td>
                            {% endif %}
                        {% endfor %}
                            <td>{{ dream['content'] }}{{ var }}</td>
                            <td></td>
                    </tr>
                        {% for comment in comments %}
                            {% if dream['id'] == comment['dreams_id'] %}
                                <tr>
                                    {% set var = "(コメント)" %}
                                    <td></td>
                                    <td>{{ comment['content'] }}{{ var }}</td>
                                    <td></td>
                                </tr> 
                                {% for reply in replies %}
                                    {% if reply['comments_id'] == comment['id']%}
                                        <tr>
                                            {% set var = "(リプライ)" %}
                                            <td></td>
                                            <td></td>
                                            <td>{{ reply['content'] }}{{ var }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <divclass="outer" >
        
    </div>
{% endblock %}