<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/reset.css">
    <link href="../static/favicon.png" rel="icon">

    <title>もしもボックス</title>
</head>
<body>
<!------------------------ホーム画面---------------------------------------->
    <div class="img-position">
          <img  src="../static/img/top1.png" alt="a">
          <img  src="../static/img/top2.png" alt="b">
          <img  src="../static/img/top3.png" alt="c">
          <a href="/login"><button class="btn btn-primary-top top-button" type="submit">もしもを叶えに行く</button></a>
    </div>
<!-----------------------//ホーム画面------------------------------------------>
</body>
</html>

