<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/style.css">
    <title>もしもボックス</title>
</head>
<body>
    <div class="register_b_img">
        <div class="register_button">
        <form action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="なまえ" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="ひみつのばんごう" type="password">
            </div>
    
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="ひみつのばんごう（確認）" type="password">
            </div>
    
            <button class="btn btn-primary" type="submit">とうろく</button>
        </form>
        </div>
       
    </div>
    
</body>
</html>