<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/style.css">
    <title>もしもボックス</title>
</head>
<body>
    <div class="img-position">
          <img  src="../img/トップページ１.png" alt="">
          <img  src="../img/トップページ2.png" alt="">
          <img  src="../img/トップページ3.png" alt="">
          <a href="login.html"><button class="btn btn-primary-top top-button" type="submit">もしもを叶えに行く</button></a>
    </div>
    </div>
</body>
</html>