/*----リセットCSS--------*/
* {
  margin: 0;
  padding: 0;
}
/*---//リセットCSS-------*/

/*---背景画像の設定------*/
.fv {
  background-image: url(../img/dreams.png);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
/*---//背景画像の設定------*/

/*-----ログインボタンの移動--*/
.login-button {
  position: absolute;
  top: 600px;
  left: 590px;
}
/*-----//ログインボタンの移動--*/

/*-----ログインボタンのサイズと余白設定--*/
.form-control {
  width: 180px;
  height: 30px;
}

.form-group {
  margin-top: 10px;
}

.btn-primary {
  margin-top: 10px;
  width: 80px;
  height: 30px;
  margin-left: 50px;
  color: #fff;
  border: 2px solid #0000cd;
  border-radius: 0;
  background: #00bfff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.btn-primary:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

/*-----//ログインボタンのサイズと余白設定--*/

/*-----はじめての方のとうろくボタン--------*/
.btn-primary-first {
  position: absolute;
  top: 670px;
  right: 60px;
  width: 120px;
  height: 30px;
  color: #fff;
  border: 2px solid #0000cd;
  border-radius: 0;
  background: #00bfff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.btn-primary-first:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}
/*-----はじめての方のとうろくボタン--------*/

/*-----開発者の方のとうろくボタン--------*/
.btn-primary-developer {
  position: absolute;
  top: 670px;
  left: 60px;
  position: absolute;
  width: 120px;
  height: 40px;
  font-size: 10px;
  color: #fff;
  border: 2px solid #0000cd;
  border-radius: 0;
  background: #00bfff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.btn-primary-developer:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}
/*-----//開発者の方のとうろくボタン--------*/

/*---register_bのCSS-------------------*/
/*---背景画像の設定---------------------*/
.register_b_img {
  background-image: url(../img/B-user登録.png);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
/*---register_bのCSS-------------------*/
/*---背景画像の設定---------------------*/

/*---register_cのCSS-------------------*/
/*---背景画像の設定---------------------*/

.register_c_img {
  background-image: url(../img/C-user登録.png);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
/*---register_cのCSS-------------------*/
/*---背景画像の設定---------------------*/

.register_button {
  position: absolute;
  top: 550px;
  left: 590px;
}
